<!DOCTYPE html>
<html>
<head>
<title>Book Room</title>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container py-5">

<div class="row justify-content-center">

<div class="col-md-8">

<div class="card shadow-lg">

<div class="card-header bg-primary text-white">
<h3>Hotel Booking Form</h3>
</div>

<div class="card-body">

<form action="/booking" method="POST">

<div class="mb-3">
<label>Name</label>
<input type="text" class="form-control" name="name" required>
</div>

<div class="mb-3">
<label>Email</label>
<input type="email" class="form-control" name="email" required>
</div>

<div class="mb-3">
<label>Room Type</label>

<select class="form-select" name="room">
<option>Deluxe Room</option>
<option>Premium Suite</option>
<option>Family Room</option>
</select>
</div>

<div class="row">

<div class="col-md-6">
<label>Check-In</label>
<input type="date" class="form-control">
</div>

<div class="col-md-6">
<label>Check-Out</label>
<input type="date" class="form-control">
</div>

</div>

<button class="btn btn-success mt-4 w-100">
Confirm Booking
</button>

</form>

</div>

</div>

</div>

</div>

</div>

</body>
</html>