<!DOCTYPE html>
<html>
<head>
    <title>Rooms</title>
</head>
<body>

<h1>Our Rooms</h1>

<ul>
    <li>Deluxe Room</li>
    <li>Family Suite</li>
    <li>Single Room</li>
</ul>

<a href="/">Back Home</a>

</body>
</html>